.root{
    -fx-background-color: rgba(0,0,0,0.6);
    -fx-pref-width: 400px;
    -fx-pref-height: 600px;
}
.button{
    -fx-background-color: rgba(255,255,255,0);
    -fx-background-radius: 0px;
}
.button:hover{
    -fx-background-color: rgba(255,255,255,0.4);
}
.button:pressed{
    -fx-background-color: rgba(255,255,255,0.2);
}
.text-field{
    -fx-background-radius: 15px;
}
#CloseButton{
    -fx-background-image: url("../Image/CloseButton.png");
    -fx-background-size: 25px;
    -fx-background-position: center;
}
#MinButton{
    -fx-background-image: url("../Image/MinButton.png");
    -fx-background-size: 25px;
    -fx-background-position: center;
}
#InputButton{
    -fx-background-color: black;
    -fx-background-radius: 16px;
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 16px;
    -fx-text-fill: white;
    -fx-font-family: "Noto Sans CJK JP Black";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
#InputButton:hover{
    -fx-background-color: gray;
}
#InputButton:pressed{
    -fx-background-color: darkgrey;
}

.scroll-pane > .viewport  {
    -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:vertical{
    -fx-background-color: transparent;
}
.scroll-pane .increment-button ,.scroll-pane .decrement-button{
    -fx-background-color: transparent;
}
.scroll-pane{
    -fx-background-color: rgba(255,255,255,0);
    -fx-border-color: transparent;
}