.root{
    -fx-background-color: rgba(0,0,0,1);
    -fx-pref-width: 300px;
    -fx-pref-height: 800px;
}
.button{
    -fx-background-color: rgba(255,255,255,0);
    -fx-background-radius: 0px;
}
.button:hover{
    -fx-background-color: rgba(255,255,255,0.4);
}
.button:pressed{
    -fx-background-color: rgba(255,255,255,0.2);
}
.label{
    -fx-font-family: "Noto Sans CJK JP Black";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
#SearchText{
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 15px;
    -fx-padding: 2px 12px 2px 12px;
    -fx-font-family: "Noto Sans CJK JP Black";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-pref-width: 250px;
    -fx-image: url("../Image/CloseButton-light.png");
    -fx-text-alignment: center;
}
#SearchButton{
    -fx-border-color: white;
    -fx-border-image-insets: 3px;
    -fx-border-radius: 15px;
    -fx-font-family: "Noto Sans CJK JP Black";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-color: gray;
    -fx-background-radius: 15px;
}
#SearchButton:hover{
    -fx-background-color: lightgray;
}
#SearchButton:pressed{
    -fx-background-color: darkgray;
}

#CloseButton{
    -fx-background-image: url("../Image/CloseButton-light.png");
    -fx-background-size: 25px;
    -fx-background-position: center;
}
#MinButton{
    -fx-background-image: url("../Image/MinButton-light.png");
    -fx-background-size: 25px;
    -fx-background-position: center;
}

.scroll-pane > .viewport  {
    -fx-background-color: rgba(255,255,255,0.1);
}
.scroll-pane .scroll-bar:vertical{
    -fx-background-color: transparent;
}
.scroll-pane .increment-button ,.scroll-pane .decrement-button{
    -fx-background-color: transparent;
}

#friend{
    -fx-pref-height: 60px;
}
#friendnickname{
    -fx-font-size: 16px;
}
#friendintroduction{
    -fx-font-size: 13px;
}
#Nickname{
    -fx-font-size: 18px;
}
#Introduction{
    -fx-font-size: 15px;
}

#Friendscroll{
    -fx-background-color: rgba(255,255,255,0);
    -fx-border-color: transparent;
}

#Avatar{
    -fx-image: url("../Image/Avatar1.png");
}
#AvatarButton{
    -fx-pref-width: 80px;
    -fx-pref-height: 80px;
    -fx-background-radius: 10px;
}
